.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item {
    border-left: 8px solid #F7DF94;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: #000000;
    padding-left: 100px;
    margin-bottom: 100px;
    max-width: 600px;
    min-height: 300px;
    display: block;
}

.link {
    max-width: 700px;
    cursor: pointer;
    border: 1px solid #333333;
    padding: 20px 10px;
    font-size: 20px;
    display: block;
    color: #333333;
    text-decoration: none;
}

.link:hover {
    background: #333333;
    color: white;
}