.container {
    border-right: 2px solid grey;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.element {
    margin-bottom: 24px;
    margin-right: 20px;
}
.name {
    margin-top: 16px;
    display: block;
}

