.container {
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.element {
    margin-bottom: 24px;
    margin-right: 20px;
}
.name {
    margin-top: 16px;
    display: block;
}

